| このメールはシステムから自動送信されています。
= "\n"
| 返信はできませんのでご了承ください。
= "\n"
| 平素よりJanmasuをご利用いただき、ありがとうございます。
= "\n"
| 以下のリンクからパスワードの変更を行ってください。
= "\n"
= edit_password_reset_url(@user.reset_token, email: @user.email)
= "\n"
| このメールに覚えのない場合は、他のユーザーが誤ってメールアドレスを入力した可能性があります。
= "\n"
| お手数ですが、このメールはそのまま破棄していただきますよう、お願いいたします。
