// フラッシュ

#flash-toggle {
  display: none;
}

.flash {
  display: flex;
  align-items: center;
  position: fixed;
  top: 80px;
  right: 40px;
  z-index: 20;
  padding: 12px 5px 12px 15px;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 1.4rem;
  text-align: left;
  color: whitesmoke;
  background-color: skyblue;
  transform-origin: center top;
  transition: transform 0.2s ease-in;
  .flash-close-btn {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 3.5px;
      left: 8px;
      width: 4px;
      height: 14px;
      background-color: whitesmoke;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.flash-danger {
  background-color: lightcoral;
}

#flash-toggle:checked + .flash {
  transform: scale(1, 0);
}

@media (max-width: 768px) {
  .flash {
    max-width: 90%;
    right: 5%;
  }
}

// ヘッダー

#nav-toggle {
  display: none;
}

.mobile-navbar {
  display: none;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 55px;
  padding: 0 25px;
  background-color: darkseagreen;
  transition: 0.2s ease-in;
  &::before {
    content: "";
    width: 25px;
    height: 100%;
    flex-shrink: 0;
    background-color: deepskyblue;
  }
  > a {
    display: block;
    padding: 7.5px 0;
  }
  ul {
    width: 100%;
    text-align: right;
    li {
      display: inline-block;
      text-align: left;
      a {
        display: inline-block;
        position: relative;
        height: 55px;
        margin-right: 20px;
        line-height: 55px;
        font-size: 1.6rem;
        color: whitesmoke;
        letter-spacing: 1px;
        &:hover {
          color: white;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 14px;
          left: 0;
          width: 100%;
          height: 1.6px;
          border-radius: 0.8px;
          margin: 0 auto;
          background-color: white;
          transform: scale(0, 1);
          transform-origin: center top;
          transition: 0.15s ease-in;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    display: block;
    position: fixed;
    top: 0px;
    left: 100vw;
    width: 250px;
    height: 100vh;
    padding-top: 55px;
    background-color: mintcream;
    > a {
      display: none;
    }
    &::before {
      display: none;
    }
    ul {
      li {
        display: block;
        border-bottom: 2px solid whitesmoke;
        a {
          color: darkgray;
          &:hover {
            color: dimgray;
          }
          &::after {
            background-color: dimgray;
          }
        }
      }
    }
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 55px;
    padding: 0 25px;
    background-color: darkseagreen;
    &::before {
      content: "";
      width: 25px;
      height: 100%;
      margin-right: 10px;
      background-color: deepskyblue;
    }
    a {
      display: block;
      padding: 7.5px 0;
    }
  }

  .navicon {
    display: block;
    position: relative;
    width: 35px;
    height: 100%;
    cursor: pointer;
    padding: 0 5px;
    span {
      display: block;
      position: absolute;
      top: 26px;
      width: 25px;
      height: 3px;
      border-radius: 1.5px;
      background-color: white;
      transition: transform 0.2s ease-in;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 3px;
        border-radius: 1.5px;
        background-color: white;
        transition: transform 0.2s ease-in;
      }
      &::before {
        transform: translateY(-10px);
      }
      &::after {
        transform: translateY(10px);
      }
    }
  }

  #nav-toggle:checked + header .mobile-navbar {
    span {
      transform: rotate(45deg);
      &::before,
      &::after {
        transform: rotate(90deg);
      }
    }
  }
  #nav-toggle:checked + header .navbar {
    transform: translateX(-100%);
    box-shadow: 0 6px 10px rgba($color: black, $alpha: 0.5);
  }
  #nav-toggle:checked ~ .body-container {
    transform: translateX(-250px);
  }
}

// ボディ

.body-container {
  padding-top: 55px;
  min-height: calc(100vh - 42px);
  transition: transform 0.2s ease-in;
}

.content-container {
  max-width: 1200px;
  width: 90%;
  margin: 80px auto;
  padding: 50px 5px;
  border-radius: 5px;
  background-color: white;
}

.section-title {
  position: relative;
  display: inline-block;
  font-size: 2.2rem;
  margin-bottom: 50px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    border-bottom: 1px solid dimgray;
  }
}

.section-annotation {
  display: inline-block;
  color: darkgray;
  max-width: 80%;
  text-align: left;
  line-height: 1.5rem;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

hr {
  margin: 30px 0;
}

.danger {
  color: lightcoral;
}

.info {
  color: skyblue;
}

.annotation {
  color: darkgray;
}

.mb {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 30px;
}

.mr {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }
}

// フッター

footer {
  padding: 15px 0;
  font-size: 1.2rem;
  background-color: antiquewhite;
}

// フォーム

.form {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.4rem;
  .form-title {
    position: relative;
    margin-bottom: 50px;
    font-size: 1.4rem;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -30px;
      left: calc(50% - 0.5px);
      border-left: 1px solid darkgray;
      height: 25px;
    }
  }
  .form-link {
    font-size: 1.2rem;
    margin-bottom: 5px;
    a:hover {
      text-decoration: underline;
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    label {
      order: 1;
      text-align: left;
      margin-bottom: 10px;
    }
    input {
      order: 2;
      width: 100%;
      height: 35px;
      background-color: transparent;
      color: dimgray;
      border: 1px solid dimgray;
      border-radius: 5px;
      outline: none;
      &::placeholder {
        color: darkgray;
      }
      &:focus {
        border: 2px solid darkseagreen;
        color: darkseagreen;
        ~ label {
          color: darkseagreen;
        }
      }
    }
    select {
      order: 2;
      width: 100%;
      height: 35px;
      background-color: transparent;
      color: dimgray;
      border: 1px solid dimgray;
      border-radius: 5px;
      outline: none;
      &:focus {
        border: 2px solid darkseagreen;
        color: darkseagreen;
        ~ label {
          color: darkseagreen;
        }
      }
    }
    .field_with_errors {
      input {
        border: 2px solid lightcoral;
        color: lightcoral;
      }
      label {
        color: lightcoral;
      }
    }
  }
  .form-check {
    display: block;
    text-align: left;
    margin-bottom: 30px;
    .form-check-title {
      display: block;
      margin-bottom: 10px;
    }
    .form-check-label {
      display: inline-block;
      position: relative;
      width: auto;
      padding-right: 10px;
      margin: 10px 40px 10px 0;
      font-size: 1.2rem;
      text-align: start;
      &::after {
        content: "";
        position: absolute;
        top: -3px;
        left: 100%;
        width: 20px;
        height: 20px;
        border: 1px solid dimgray;
        border-radius: 5px;
      }
    }
    input {
      display: inline-block;
      width: 0;
      margin: 0;
      &:focus + .form-check-label {
        color: darkseagreen;
        &::after {
          border: 2px solid darkseagreen;
        }
      }
      &:checked + .form-check-label {
        color: darkseagreen;
        &::after {
          border: 2px solid darkseagreen;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%238fbc8f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: -1.5px -0.5px;
        }
      }
    }
  }
}

.btn {
  display: inline-block;
  max-width: 90%;
  padding: 10px 10px;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: darkseagreen;
  background-color: transparent;
  border: 2px solid darkseagreen;
  border-radius: 5px;
  transition: 0.15s ease-in;
  &:hover,
  &:focus {
    background-color: darkseagreen;
    color: white;
  }
}

.btn-danger {
  color: lightcoral;
  border-color: lightcoral;
  &:hover,
  &:focus {
    background-color: lightcoral;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    margin-right: 0;
  }
}

// アラート

#alert-toggle {
  display: none;
}

.alert {
  position: relative;
  padding: 15px;
  background-color: lightcoral;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: left;
  color: whitesmoke;
  p {
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
      font-size: 1.2rem;
      line-height: 1.4rem;
      &::before {
        content: "- ";
      }
    }
  }
}

// ユーザー管理画面

.admin-user-table {
  width: 90%;
  margin: 0 auto 30px;
  font-size: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  table {
    display: inline-block;
    th,
    td {
      border: 1px solid lightgray;
      padding: 5px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

// ユーザー詳細画面

.user-container {
  display: flex;
  width: 100%;
  .user-profile-container {
    width: 25%;
    border-right: 2px solid dimgray;
    .user-name {
      font-size: 2.2rem;
      margin-bottom: 10px;
    }
    .user-friend {
      margin-bottom: 20px;
      a:hover {
        text-decoration: underline;
      }
      .friend-link {
        margin-bottom: 5px;
      }
    }
    .user-btn-container {
      .btn {
        width: 100%;
      }
    }
  }
  .user-info-container {
    width: 75%;
    .user-info-title {
      position: relative;
      margin-bottom: 50px;
      font-size: 1.8rem;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        left: calc(50% - 0.5px);
        border-left: 1px solid darkgray;
        height: 25px;
      }
    }
    .statistics-container {
      margin-bottom: 50px;
    }
    .league-created-time {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 768px) {
  .user-container {
    display: block;
    .user-profile-container {
      width: 100%;
      border-right-width: 0;
      margin-bottom: 30px;
    }
    .user-info-container {
      width: 100%;
    }
  }
}

// フレンド一覧画面

.user-friend-list {
  display: block;
  list-style: none;
  margin-bottom: 30px;
  li {
    display: flex;
    width: 80%;
    max-width: 500px;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid darkgray;
    .user-name {
      display: block;
      width: 100%;
      margin-right: 20px;
      text-align: right;
      &:hover {
        text-decoration: underline;
      }
    }
    .user-follow {
      width: 170px;
      flex-shrink: 0;
    }
  }
}

@media (max-width: 768px) {
  .user-friend-list {
    li {
      display: block;
      max-width: 300px;
      width: 90%;
      margin: 0 auto;
      margin-top: 30px;
      .user-name {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      .user-follow {
        width: 100%;
      }
    }
  }
}

// テーブル

.table {
  width: 90%;
  margin: 0 auto 50px;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 1.2rem;
  table {
    display: inline-block;
    th {
      background-color: skyblue;
      border: solid 1px darkgray;
      color: whitesmoke;
      padding: 10px;
    }
    td {
      border: solid 1px darkgray;
      padding: 10px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .table {
    overflow-x: hidden;
    white-space: normal;
    table {
      display: table;
      width: 100%;
      thead {
        display: none;
      }
      tr {
        width: 100%;
        td {
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-width: 0 1px 1px 1px;
          text-align: right;
          &:first-child {
            justify-content: center;
            text-align: center;
            border-width: 1px;
            background-color: skyblue;
            color: whitesmoke;
          }
          &:last-child {
            margin-bottom: 30px;
          }
          &::before {
            content: attr(data-label);
            flex-shrink: 0;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.game-table {
  width: 90%;
  margin: 0 auto 50px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  font-size: 1.2rem;
  table {
    display: inline-block;
    th {
      background-color: skyblue;
      border: solid 1px darkgray;
      color: whitesmoke;
      padding: 10px;
    }
    td {
      border: solid 1px darkgray;
      padding: 10px;
    }
    .sum {
      border-top: solid 2px darkgray;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.statistics-table {
  width: 90%;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 1.2rem;
  table {
    display: inline-block;
    th {
      background-color: skyblue;
      border: solid 1px darkgray;
      color: whitesmoke;
      padding: 10px;
    }
    td {
      border: solid 1px darkgray;
      padding: 10px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .statistics-table {
    table {
      width: 100%;
      display: flex;
      justify-content: center;
      th,
      td {
        display: block;
      }
      th {
        border-width: 1px 1px 0 1px;
      }
      td {
        border-width: 1px 1px 0 0;
      }
      th:last-child,
      td:last-child {
        border-bottom-width: 1px;
      }
    }
  }
}

// ページネーション

.page-container {
  margin-bottom: 20px;
  font-size: 1.3rem;
  .pagination {
    margin-bottom: 5px;
    a:hover {
      text-decoration: underline;
    }
    .current {
      color: darkseagreen;
    }
  }
}

// ホーム画面

.home-title-container {
  background-color: white;
  padding: 60px 30px;
  h2 {
    margin-bottom: 15px;
    font-size: 2.5rem;
  }
  h1 {
    margin-bottom: 40px;
    font-size: 4.5rem;
  }
  p {
    color: dimgray;
    line-height: 18px;
    font-size: 1.2rem;
  }
}

.home-login-container {
  padding: 30px 0;
  .test-user-info {
    width: 80%;
    max-width: 500px;
    margin: 0 auto 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    line-height: 16px;
    background-color: skyblue;
    color: whitesmoke;
  }
}

.home-notice-container {
  background-color: white;
  padding: 60px 5px;
  ul {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    li {
      display: block;
      text-align: left;
      .date {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid lightgray;
      }
      .description {
        font-size: 1.2rem;
        ul {
          list-style: circle;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home-title-container {
    h2 {
      font-size: 2rem;
    }
    h1 {
      font-size: 4rem;
    }
  }
}

// 使い方

.usage-container {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  h2 {
    font-size: 1.8rem;
    margin: 25px 0 10px;
  }
  p {
    line-height: 2rem;
    padding: 5px 0;
    font-size: 1.3rem;
  }
  img {
    display: block;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .usage-container {
    h2 {
      font-size: 1.6rem;
    }
    img {
      width: 100%;
    }
  }
}
